@inject IBreakService BreakService
@inject IJSRuntime JSRuntime

<div class="row">
    <button class="btn btn-primary square-1 m-2" @onclick="() => BreakService.AdvanceBreak()">
        <FontAwesome IconName="caret-left"></FontAwesome>
    </button>
    @for (int i = 1; i <= start; i++)
    {
        <div class="square-1 rounded-3 @(i % 2 == 0 ? "text-bg-dark" : "text-bg-secondary") m-2">
            <div class="container centre">
                @if (BreakService.BreakAmount == i)
                {
                    <div @onclick="() => BreakService.AdvanceBreak()">
                        <FontAwesome IconName="mug-hot"></FontAwesome>
                    </div>
                }
                else
                {
                    <div class="fs-2">@(i)</div>
                }
            </div>
        </div>
    }
    <button class="btn btn-primary square-1 m-2" @onclick="() => BreakService.ResetBreak(start)">
        <FontAwesome IconName="clock-rotate-left"></FontAwesome>
    </button>
</div>

<Modal Id="breakModal" @ref="modal">
    <Title>Break!</Title>
    <Body>
        Would you like to trigger a break?
    </Body>
    <Footer>
        <button type="button" class="btn btn-primary">Yes</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
    </Footer>
</Modal>

@code {
    private Modal modal { get; set; }
    private int start = 10;

    protected override void OnInitialized()
    {
        BreakService.OnBreakChanged += StateHasChanged;
        BreakService.OnBreakTriggered += async () => await modal.Open();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await BreakService.GetStoredBreak(start);
            StateHasChanged();
        }
    }

    public void Dispose()
    {
        BreakService.OnBreakChanged -= StateHasChanged;
        BreakService.OnBreakTriggered -= async () => await modal.Open();
    }
}
