@inject IBuildingService BuildingService

<h3>Buildings</h3>

@foreach (bool isStandard in new bool[] { true, false })
{
	<div class="d-flex">
		@foreach (BuildingModel building in BuildingService.Buildings.Where(b => b.IsStandard == isStandard))
		{
			@for (int i = 0; i < building.Amount; i++)
			{
				<div class="mx-2">
					<Building ThisBuilding=building></Building>
				</div>
			}
		}
	</div>
}

@code {
	protected override void OnInitialized()
	{
		BuildingService.OnBuildingsChanged += StateHasChanged;
	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			await BuildingService.GetStoredBuildings();
			StateHasChanged();
		}
	}

	public void Dispose()
	{
		BuildingService.OnBuildingsChanged -= StateHasChanged;
	}
}
