<h3>Enclosures</h3>

@foreach (var enclosure in enclosures)
{
    <button class="btn btn-primary square" @onclick="() => AddEnclosure(enclosure)">@enclosure.Size : @enclosure.Amount</button>
}

@code {
    private class Enclosure
    {
        public int Size { get; set; }

        public int Amount { get; set; } = 0;

        public int Occupied { get; set; } = 0;
    }

    List<Enclosure> enclosures = new List<Enclosure>()
    {
        new Enclosure { Size = 1 },
        new Enclosure { Size = 2 },
        new Enclosure { Size = 3 },
        new Enclosure { Size = 4 },
        new Enclosure { Size = 5 }
    };

    private void AddEnclosure(Enclosure enclosure)
    {
        enclosure.Amount++;
    }
}
