
@*
    New Features
        - keep track of number of cards in hand
        - automate income from appeal
        - add modifiers to action cards
        - record active bonuses from supporting CPs
        - create drawer for association board
        - keep log of states
        ------------------------------------------------------------
        - provide undo function
        - helper for game setup
        - use signalR to keep game state updated for everyone
*@

@page "/"
<PageTitle>Home</PageTitle>

<Menu SelectedEvent="SetSelected"></Menu>

@switch (Selected)
{
    case "actions":
        <Actions></Actions>
        break;
    case "buildings":
        <Buildings></Buildings>
        break;
    case "money":
        <Money></Money>
        <div class="d-flex justify-content-center m-3">
            <XTokens></XTokens>
        </div>
        break;
    case "break":
        <Break></Break>
        break;
    case "scores":
        <ScoreTracks></ScoreTracks>
        break;
    case "workers":
        <Workers></Workers>
        break;
}

@code {
    private string Selected = "actions";

    private void SetSelected(string selected)
    {
        Selected = selected;
    }
}