@*
    New Features
        - automate break actions
        - record active bonuses from supporting CPs
        - track number of enclosures of each size and if occupied
        - store collections of items (bonuses, special enclosures, partner zoos, universities etc)
        - create drawer for association board
        - keep log of states and provide undo function
        - helper for game setup
        - use signalR to keep game state updated for everyone
*@

@page "/"

<PageTitle>Home</PageTitle>

@*
<div class="row">
    <h1 class="col-1">C</h1>
    <h1 class="col-1">O</h1>
    <h1 class="col-1">M</h1>
    <h1 class="col-1">P</h1>
    <h1 class="col-1">A</h1>
    <h1 class="col-1">N</h1>
    <h1 class="col-1">I</h1>
    <h1 class="col-1">O</h1>
    <h1 class="col-1">N</h1>
</div>
<div class="row">
    <div class="col-4" />
    <div class="col-1">
        <h1>R</h1>
        <h1>K</h1>
    </div>
    <div class="col-1">
        <h1>O</h1>
        <h1>V</h1>
        <h1>A</h1>
    </div>
</div>

<hr />


<hr />

<Money></Money>

<hr />

<ConservationBonuses></ConservationBonuses>

<hr />

<ScoreTracks></ScoreTracks>
*@
<Actions></Actions>

<hr />

<Break></Break>

<hr />

<Enclosures></Enclosures>

<hr />

<XTokens></XTokens>