@inject IStorageService StorageService;

@*
    New Features
        - keep track of number of cards in hand
        - automate break actions
        - add modifiers to action cards
        - record active bonuses from supporting CPs
        - track number of enclosures of each size and if occupied
        - create drawer for association board
        - keep log of states 
        ------------------------------------------------------------
        - provide undo function
        - helper for game setup
        - use signalR to keep game state updated for everyone
*@

@page "/"
<PageTitle>Home</PageTitle>

<div class="d-flex justify-content-end">
    <button class="btn btn-danger" @onclick="() => StorageService.ClearStorage()">Clear All</button>
</div>

<Actions></Actions>

<Buildings></Buildings>

<Money></Money>

<Break></Break>

<XTokens></XTokens>

<ConservationBonuses></ConservationBonuses>

<ScoreTracks></ScoreTracks>

<Workers></Workers>