@inject IMenuService MenuService

@if (MenuService.Menu is not null)
{
	<button class="position-relative btn btn-primary square-2 rounded-2 border-0 @(Model.IsSelected ? "" : "text-dark") bg-dodgerblue mx-1" @onclick='() => MenuService.SelectItem(Model)'>
		<div class="centre">
			<FontAwesome IconName="@Model.ItemIcon" Size="3"></FontAwesome>
		</div>
		@if (Model.ShowAlert)
		{
			<div class="position-absolute top-0 start-50 translate-middle p-2 bg-danger rounded-circle" />		
		}
	</button>	
}


@code {
	[Parameter]
	public MenuItemModel Model { get; set; }

	protected override void OnInitialized()
	{
		MenuService.OnMenuChanged += StateHasChanged;
	}

	public void Dispose()
	{
		MenuService.OnMenuChanged -= StateHasChanged;
	}
}
