@inject IWorkerService WorkerService

<div class="workers position-relative">
	<div class="d-flex centre" @onclick="() => WorkerService.AddWorker()">
		<div class="flex-row">
			<Worker WorkerNumber=0></Worker>
			<Worker WorkerNumber=1></Worker>
		</div>
		<div class="flex-row">
			<Worker WorkerNumber=2></Worker>
			<Worker WorkerNumber=3></Worker>
		</div>
	</div>
	<div class="position-absolute top-100 start-100 translate-middle">
		<button class="btn btn-danger" @onclick="() => WorkerService.RemoveWorker()">
			<FontAwesome IconName="minus" Size="3"></FontAwesome>
		</button>
	</div>
</div>