@inject IWorkerService WorkerService

<div class="workers position-relative">
	<div class="container">
		<div class="row">
			<div class="col-6 centre">
				<Worker WorkerNumber=0></Worker>
			</div>
			<div class="col-6 centre">
				<Worker WorkerNumber=1></Worker>
			</div>
		</div>
		<div class="row">
			<div class="col-6 centre">
				<Worker WorkerNumber=2></Worker>
			</div>
			<div class="col-6 centre">
				<Worker WorkerNumber=3></Worker>
			</div>
		</div>
	</div>
	<div class="position-absolute top-100 start-100 translate-middle">
		<button class="btn btn-danger" @onclick="() => WorkerService.RemoveWorker()">
			<FontAwesome IconName="minus" Size="3"></FontAwesome>
		</button>
	</div>
</div>