@inject IWorkerService WorkerService

@if (WorkerService.Workers is not null)
{
    <div class="d-flex bg-dodgerblue rounded-3 position-relative" @onclick="() => WorkerService.AddWorker()">
        @foreach (WorkerModel worker in WorkerService.Workers)
        {
            <Worker Model=worker></Worker>
        }
        <div class="position-absolute top-100 start-100 translate-middle">
            <button class="btn btn-danger" @onclick="() => WorkerService.RemoveWorker()" @onclick:stopPropagation="true">
                <FontAwesome IconName="minus" Size="3"></FontAwesome>
            </button>
        </div>
    </div>
}